.bicicletas-bg:nth-child(3) {
  background: linear-gradient(to right, var(--cor-0) 20%, var(--cor-11) 0);

  /* background: var(--cor-11); */
  /* box-shadow: inset 200px 0px var(--cor-0); */
  
}

.bicicletas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 60px 0px; 
}

.bicicletas-imagem {
  display: grid;
}

.bicicletas-imagem img {
  grid-area: 1/1;
}

.bicicletas-imagem span{
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  background: var(--cor-12);
  padding: 8px 16px 8px 8px;
  display: inline-block;
  border-radius: 5px 0 0 5px;
}


.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas-conteudo h2, p{
  grid-column: 1/-1;
}

.bicicletas h2{
  margin-bottom: 20px;
}

.bicicletas h2::before{

  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;

}
.bicicletas p{
  margin-bottom: 32px;
}

.bicicletas a{
  place-self: end;
}

.bicicletas li{
  display: flex;
  align-items: center;
}

.bicicletas ul{
  display: grid;
  gap: 16px;
}

.bicicletas-conteudo img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px ){

  .bicicletas-conteudo{
    grid-template-columns: 1fr;
  }

  .bicicletas a {
    place-self: start;
    margin-top: 20px;
  }

  .bicicletas {
    align-items: center;
  }

  .bicicletas-bg:nth-child(3){

    background: linear-gradient(to right, var(--cor-0) 20%, var(--cor-11) 0);
    /* box-shadow: inset 120px 0px var(--cor-0); */
  }

}

@media (max-width: 600px) {
  .bicicletas {
    grid-template-columns: 1fr;
  }

.bicicletas-bg:nth-child(3){
  background: var(--cor-11);
}
  
}