.seguro-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0 120px var(--cor-0), inset 0 -120px var(--cor-12);
}

.seguro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.seguro-imagem img {
  /* para sempre oculpar 100% do container*/
  width: 100%;
  height: 100%;
  object-fit: cover; /* para nao distorcer o objeto */
}

.seguro-conteudo{
  padding: 150px 0;
}

.seguro h2{
  margin-bottom: 32px;
}

.seguro p{
  margin-bottom: 20px;
}

@media (max-width: 800px){
    .seguro{
      grid-template-columns: 1fr;
    }

    .seguro-conteudo{
      grid-row: 1;
      padding: 32px 0 0 0;
    }
    .seguro-bg {
      box-shadow: none;
    }


}

@media (max-width: 600px){

}
