
.introduction-bg {
  background: var(--c12);
  color: var(--w);
  box-shadow:  inset 0 -7.5rem var(--w);
}

.introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 2.5rem;
  box-sizing: border-box;
  max-width: 75rem;
  padding: 0 1.25rem;
  margin: 0 auto;

}

.introducao-context {
  align-self: flex-end;
  padding-bottom: 12.5rem;
}

.introduction img {
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.font-1-xxl{
  color: var(--c1);
  margin-bottom: 2rem;
}

.font-1-xxl  span {
  color: var(--p1);
}


.font-2-m {
  color: var(--c5);
  margin-bottom: 2rem;
}


@media (max-width: 800px){
  
.introduction {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px 2.5rem;
  box-sizing: border-box;
  max-width: 75rem;
  padding: 0 1.25rem;
  margin: 0 auto;  
}

.introducao-context {
  margin-top: 4rem;
  align-self: flex-end;
  padding-bottom: 1.5rem;
}

.introduction img {
  height: 18.75rem;
  width: 100%;
}

.introducao-context {
  justify-items: center;
}


}