.seguros-bg{
  background-color: var(--cor-11);
}

.seguros{
  padding: 60px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
}

.seguros h2{
  grid-column: 1/-1;
}

.seguros-item {
  background-color: var(--cor-12);
  padding: 32px 32px 32px 60px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.seguros-item h3{
  margin-bottom: 40px;
}

.seguros-item span{
  grid-column: 2;
  display: block;
  text-align: right;
}

.seguros-item ul{
  grid-column: 1/-1;
  margin-bottom: 32px;
}

.seguros-item li + li{ /* somente os li apos um li */
  margin-top:  20px;
}

.seguros-item li{
  display: flex;
  align-items: center;
  position: relative;
}

.seguros-item li::before{
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background-image: url("../../img/icones/lista.svg");
  position: absolute;
  left: -21px;
}

.seguros-item a {
  grid-column: 1/-1;
}




@media(max-width: 800px){
  .seguros{
    grid-template-columns: 1fr;
  }

  .seguros-item span{
    grid-column: 1;
    text-align: center;
    margin-bottom: 16px;
  }

  .seguros-item h3 {
    justify-self: center;
  }

  .seguros-item ul{
    justify-self: center;
  }

  .seguros-item a{
    justify-self: center;
  }
}



/* Pagina Seguros*/

#seguros .seguros {
  padding-top: 0px ;
}

@media(max-width: 800px){
  #seguros .seguros{
    grid-template-columns: 1fr 1fr;
  }}

@media(max-width: 450px){
  #seguros .seguros{
    grid-template-columns: 1fr;
  }
}

