:root{
  /* cor */
  --c12: #000000;
  --c11: #111111;
  --c10: #2E2E2E;
  --c9: #404040;
  --c8: #595959;
  --c7: #717171;
  --c6: #C9C9C9;
  --c5: #B2B2B2;
  --c4: #CCCCCC;
  --c3: #DEDEDE;
  --c2: #EDEDED;
  --c1: #F7F7F7;
  --w: #FFFFFF;

  --p5: #332200;
  --p4: #664400;
  --p3: #A66F00;
  --p2: #E4A30B;
  --p1: #FFBB00;


  /* gragient button */
  --g2: #E59317;
  --g1: #FFB60D;
  --btg2: #ffbf00;
  --btg1: #f2a50c;
}